<%# Subscribe to mailchimp %>  
<div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
  <div>
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= t('change_your_email_password') %>
    </h3>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="email" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('email_address') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "email", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="new_password" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('password') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.password_field :password, autocomplete: "new-password", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>

      <p class="mt-2 text-sm text-gray-500"><%= t('leave_blank_if_you_don_t_want_to_change_it') %></p>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="password_confirmation" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('password_confirmation') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.password_field :password_confirmation, autocomplete: "password-confirmation", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="current_password" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('old_password') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>

      <p class="mt-2 text-sm text-gray-500"><%= t('only_if_you_are_changing_your_password') %></p>
    </div>
  </div>
</div>
