<div class="flex flex-col justify-center content-center sm:px-2 lg:px-2">
  <div class="mx-auto w-full max-w-5xl border-2 border-primary-500 p-3">
  <a id='how-it-works'>
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
    We’d love to get the COVID-19 vaccine into every Central Texan’s arm! There are 2 ways we can help:
    </h2>
    <p class="mt-6 ml-20 text-left text-xl leading-9 font-bold text-gray-900">
    Step 1: Choose DIY or Assisted Booking
    </p>
     <p class="mt-2 ml-20 mr-20 text-left text-base leading-5 text-gray-800 max-w">
      If you are capable of booking your own appointment, <strong>go to Step 2.</strong><br/><br/>
      If you are comfortable with computers, the internet and following social media, you can do it on your own. 
      Our resources and coaches have helped hundreds of people book their own appointments.<br/><br/> 
      You can do it too, even if you’ve tried and failed before!
    </p>
    <p class="mt-6 ml-20 text-left text-xl leading-9 font-bold text-gray-900">
    Step 2: DIY Booking
    </p>
     <p class="mt-2 ml-20 mr-20 text-left text-base leading-5 text-gray-800 max-w">
      New appointments are opening every day! It is getting easier to book them. <br/><br/>
      Once you know the tricks, you should be able to do it on your own.  AND… This method gives you the most <strong>flexibility</strong> in location, vaccine, dates and times. <br/><br/>
      If you would like to get an appointment on your own, navigate to Self-Booking Resources at the top of this page,
      or click <%= link_to "HERE", resources_path, class: 'font-medium text-pink-800' %>.
    </p>
    <p class="mt-6 ml-20 text-left text-xl leading-9 font-bold text-gray-900">
    Step 3: Assisted Booking
    </p>
     <p class="mt-2 ml-20 mr-20 text-left text-base leading-5 text-gray-800 max-w">
      If you are unable to book your own appointment due to any barriers, please complete 
      <%= link_to "THIS FORM", new_request_path, class: 'font-medium text-pink-800' %>. <br/><br/>
      We will need personal information such as name, address, email, cell phone, date of birth, and location/area needs.<br/><br/>
      Please note that we cannot accommodate vaccine preference requests through Assisted Booking. If 
      there is a <strong>medical need</strong> for a specific vaccine manufacturer, you may note it in the form.<br/><br/>
      Our coaches will work to secure an appointment based on your needs and available openings. The more flexible you 
      are, especially with location, the more quickly we will be able to book you an appointment. <br/><br/> 
      You will receive an appointment confirmation email once we book you the appointment. 
      <strong>You will need to respond to this email.</strong> <br/><br/> 
      If you want to check in with us, please feel free to email us at <%= mail_to ENV['EMAIL_ADDRESS'], nil, target: :_blank, class: 'font-bold mr-6' %><br/> <br/>
      <span class="text-lg font-bold">Best of luck!</span>
    </p>
    <div align="center" class="mx-auto mt-4 w-11/12 self-center border-2 border-pink-500">
      <h2 class="text-center text-xl leading-9 font-extrabold text-gray-900">
        NOTE: For those individuals who need transportation to vaccine site, information can be found <%= link_to "here", resources_path(anchor: 'transport'), class: 'font-black text-pink-500' %>.
      </h2>
      </div>
  </div>
  
  <div align="center" class="flex flex-col mt-8">
    <div class="sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block w-max shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table id="team-table" class="w-max table-fixed">
          <tbody>
          <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>
          <% TEAM.each do |group, team| %>
            <% if !group.empty? %>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td colspan="3" class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-white text-center bg-primary-500">
                  <%= html_escape group %>
                </td>
              </tr>
            <% end %>
            <% team.each do |name, role, desc| %>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm w-1/3 leading-5 font-medium text-gray-900 text-left">
                  <%= html_escape name %>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap w-1/3 text-sm leading-5 text-gray-500 text-right">
                  <%= html_escape role %>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap w-1/3 text-sm leading-5 text-gray-500 text-left">
                  <%= desc %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="sm:mx-auto sm:w-full w-screen">
    <h3 class="mt-8 text-center text-xl leading-9 font-extrabold text-gray-900">
    This platform is powered by City Help!
    </h3>
    <div class="mt-8 text-center w-max items-center text-xl text-green-500 leading-9">
      <ul id="city-help-links" class="text-center items-center font-bold">
        <li class="mr-10 inline hover:text-green-800 hover:font-extrabold">
          <%= link_to "ResiTown Sacramento", "http://resitown.com", target: "_blank" %>
        </li>
        <li class="mr-10 inline hover:text-green-800 hover:font-extrabold">
          <%= link_to "Athens Help With Covid", "http://athenshelpwithcovid.com", target: "_blank" %>
        </li>
        <li class="mr-10 inline hover:text-green-800 hover:font-extrabold">
        <%= link_to "New Haven Help With Covid", "https://newhavenhelpwithcovid.com", target: "_blank" %>
        </li>
        <li class="mr-10 inline hover:text-green-800 hover:font-extrabold">
        <%= link_to "City Help", "https://city-help.org/", target: "_blank" %>
        </li>
        <li class="mr-10 inline hover:text-green-800 hover:font-extrabold">
        <%= link_to "Help With Covid", "https://helpwithcovid.com/", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <h2 class="mt-8 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Thank you to all volunteers!
    </h2>
  </div>
</div>

