<%= link_to request, class: 'relative block shadow-lg transform transition-transform duration-100 hover:scale-105' do %>
  <%
    category = Settings.request_categories.select { |cat| cat.name == local_assigns[:category] }.first if local_assigns[:category].present?
    category_override = category.present? ? local_assigns[:category] : nil
  %>

  <div class="px-5 pt-5 pb-6">
    <div class="text-2xl truncate leading-tight  mb-1"><%= request.f_name %> <%= request.l_name %></div>
<div class="relative w-full h-6 mb-4">
    <% if request.request_types.present? %>
      
        <span class="scroll-gradient-right inline-block w-4 h-6 absolute right-0 z-50"></span>
        <div class="w-full overflow-x-auto scrolling-touch scrollbar-hidden">
          <div class="flex flex-row flex-no-wrap flex-shrink-0 flex-shrink-0 space-x-right-2">
            <% request.request_types.each do |type| %>
              <%= filter_badge label: type %>
            <% end %>
          </div>
        </div>
    <% end %>
          </div>

    <div class="relative grid grid-cols-4 gap-2 text-sm mt-3">
      <% total_patients = request.patients.count %>
      <% if total_patients > 0 %>
        <div class="font-bold"><%= total_patients %> <%= 'patient'.pluralize total_patients %></div>
      <% else %>
        <div class="font-bold">No patients</div>
      <% end %>

      <div class="text-gray-500 w-full text-center"><%= time_ago_in_words request.created_at %> ago</div>
      
      <div class="text-gray-500 w-full text-center">
      <span class="text-gray-900 font-bold">Status:</span>
      <% if request.status.present? %>
            <%= request.status %>
      <% else %>
        <span>None</span>
    <% end %>
      </div>


      <% if request.city? %>
        <div class="text-right"><%= inline_svg_pack_tag 'media/svgs/appointment-card-location.svg', class: 'inline' %><%= request.city %></div>
      <% else %>
        <div class="text-right"><%= inline_svg_pack_tag 'media/svgs/appointment-card-location.svg', class: 'inline' %>Not Specified</div>
      <% end %>
    </div>
  </div>
<% end %>
